.App {
  height: 100vh;
  background-color: rgb(255, 233, 222);
  position: relative;
}

.wallet-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
}

header {
  text-align: center;
  padding-top: 15px;
  margin-bottom: 20px;
}

header h1 span {
  display: block;
}

.center-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toggle-button {
  background-color: #4caf50;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.toggle-button.active {
  background-color: #f44366;
}

.toggle-button:hover {
  opacity: 0.8;
}

.game-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game-wrapper {
  width: 550px;
  background-color: rgb(246, 215, 201);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.game-heading {
  background-color: transparent;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.game-move {
  background-color: rgb(236, 194, 175);
  color: #000;
  font-size: 18px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-transform: capitalize;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 28px auto;
}

.game-button {
  cursor: pointer;
  margin: 10px 30px;
  border: none;
  outline: none;
  background: transparent;
}

.game-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.game-button img {
  width: 100px;
}

.game-button p {
  text-align: center;
}

.avatar {
  text-align: center;
  margin-bottom: 14px;
}

.avatar img {
  width: 300px;
  border-radius: 50%;
}

.result-box {
  width: 500px;
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  text-align: center;
  color: #000;
  text-transform: capitalize;
}

.result-box.disabled {
  color: #888;
  background-color: #c0c0c0;
}

.result-box.win {
  background-color: #4caf50;
}

.result-box.lose {
  background-color: #f44366;
}

.result-box.draw {
  background-color: #f5eb67;
}

.scoreboard-container {
  position: absolute;
  top: 10px;
  left: 10px;
}

table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

.not-connected-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* tablet screen */
@media (width <= 1176px) {
  .game-container {
    flex-direction: column-reverse;
  }
}

@media (width <= 820px) {
  header {
    padding-top: 70px;
  }

  .game-button img {
    width: 80px;
  }

  .avatar img {
    width: 250px;
  }
}

@media (width <= 768px) {
  .App {
    height: auto;
  }
}

/* mobile screen */
@media (width <= 480px) {
  header {
    padding-top: 7rem;
  }

  header h1 {
    padding: 0 8px;
  }

  .game-wrapper {
    width: 300px;
  }

  .result-box {
    width: 300px;
    margin-bottom: 20px;
  }
}