<!DOCTYPE html>
<html>
    <head>
        <title>ABOUT EJS!</title>
        <link rel="stylesheet" type="text/css" href="/styles.css">
    </head>
    <body>
        <header>
            <div class="container">
                <h1>About Me</h1>
            </div>
        </header>
        <main>
            <div class="container">
                <p>my name is Allan Munene</p>
                <a href="/">Go back to the home page</a>
            </div>
        </main>
        <footer>
            &copy; powered by @llan Munene
        </footer>
    </body>
</html>