<!DOCTYPE html>
<html>
    <head>
        <title>Expressjs project!</title>
        <link rel="stylesheet" type="text/css" href="/styles.css" />
    </head>
    <body>
        <header>
            <div class="container">
                <h1>Welcome to Allan website</h1>
            </div>
        </header>
        <main>
            <div class="container">
                <p>this is the home page</p>
                <a href="/about" class="button">Learn more about us</a>
                <p>The current time is <%= time %></p>

            </div>
        </main>
        <footer class="container">
            &copy; powered by @llan Munene
        </footer>
    </body>
</html>