body, h1, h2, p{
    margin:0;
    padding:0;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
.container{
    max-width: 1200px;
    margin:0 auto;
    padding:20px;
}
header{
    background-color:#007bff;
    color: #fff;
    padding:10px 0;
    transition: background-color 0.9s;
}
header:hover{
    background-color:blueviolet;
}
a{
    text-decoration:none;
}
header h1{
    font-size: 36px;
    margin-bottom: 10px;
}

main {
    padding: 20px 0;
}
h1 {
    font-size: 28px;
    margin-bottom: 10px;
}
p {
   line-height: 1.6;
   margin-bottom:15px;
}
.button{
display: inline-block;
 padding: 10px 20px;
 background-color: #007bff;
 color: #fff;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 transition: background-color 0.3s;
}
.button:hover {
    background-color: #0056b3;
}
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}